.markdown pre,
.markdown code {
    font-family: Menlo, Monaco, "Courier New", monospace;
}

.markdown pre {
    padding: 0.5rem;
    line-height: 1.25;
    overflow-x: scroll;
}

@media print {
    .markdown *,
    .markdown *:before,
    .markdown *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    .markdown a,
    .markdown a:visited {
        text-decoration: underline;
    }

    .markdown a[href]:after {
        content: " (" attr(href) ")";
    }

    .markdown abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .markdown a[href^="#"]:after,
    .markdown a[href^="javascript:"]:after {
        content: "";
    }

    .markdown pre,
    .markdown blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    .markdown thead {
        display: table-header-group;
    }

    .markdown tr,
    .markdown img {
        page-break-inside: avoid;
    }

    .markdown img {
        max-width: 100% !important;
    }

    .markdown p,
    .markdown h2,
    .markdown h3 {
        orphans: 3;
        widows: 3;
    }

    .markdown h2,
    .markdown h3 {
        page-break-after: avoid;
    }
}

.markdown a,
.markdown a:visited {
    color: #01ff70;
}

.markdown a:hover,
.markdown a:focus,
.markdown a:active {
    color: #2ecc40;
}

.markdown .retro-no-decoration {
    text-decoration: none;
}

.markdown html {
    font-size: 12px;
}

@media screen and (min-width: 32rem) and (max-width: 48rem) {
    .markdown html {
        font-size: 15px;
    }
}

@media screen and (min-width: 48rem) {
    .markdown html {
        font-size: 16px;
    }
}

.markdown body {
    line-height: 1.85;
}

.markdown p,
.markdown .retro-p {
    font-size: 1rem;
    margin-bottom: 1.3rem;
}

.markdown h1,
.markdown .retro-h1,
.markdown h2,
.markdown .retro-h2,
.markdown h3,
.markdown .retro-h3,
.markdown h4,
.markdown .retro-h4 {
    margin: 1.2rem 0 0.5rem;
    font-weight: inherit;
    line-height: 1;
    font-weight: 600;
}

.markdown h1,
.markdown .retro-h1 {
    margin-top: 0;
    font-size: 3rem;
}

.markdown h2,
.markdown .retro-h2 {
    font-size: 2.5rem;
}

.markdown h3,
.markdown .retro-h3 {
    font-size: 2rem;
}

.markdown h4,
.markdown .retro-h4 {
    font-size: 1.5rem;
}

.markdown h5,
.markdown .retro-h5 {
    font-size: 1.1rem;
}

.markdown h6,
.markdown .retro-h6 {
    font-size: 0.9rem;
}

.markdown small,
.markdown .retro-small {
    font-size: 0.707em;
}

/* https://github.com/mrmrs/fluidity */

.markdown img,
.markdown canvas,
.markdown iframe,
.markdown video,
.markdown svg,
.markdown select,
.markdown textarea {
    max-width: 100%;
}

.markdown html,
.markdown body {
    background-color: #222;
    min-height: 100%;
}

.markdown html {
    font-size: 18px;
}

.markdown body {
    color: #fafafa;
    font-family: "Courier New";
    line-height: 1.45;
    margin: 6rem auto 1rem;
    max-width: 48rem;
    padding: 0.25rem;
}

.markdown pre {
    background-color: #333;
}

.markdown blockquote {
    border-left: 3px solid #01ff70;
    padding-left: 1rem;
}
