$info-blue: #393fd6;

:root {
    --orange: #FF6C32;
    --pink: #FF76B6;
    --black: #2A3030;
    --gray: #252525;
    --light-gray: rgb(190, 190, 190);
    overflow-x: hidden;
}

body {
    color: whitesmoke;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    background-color: var(--gray);
    font-family: 'Roboto', sans-serif;
}

a:any-link {
    text-decoration: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: whitesmoke;
}

#top-bar {
    height: 42px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    position: sticky;
    top: 0;
    background-color: var(--black);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 999;

    > a {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        color: var(--light-gray);
        font-family: 'Poppins', sans-serif;

        @media screen and (max-width: 450px) {
            font-size: 0;
        }
        
        > i {
            margin-right: 6px;
        }

        &:hover {
            transition-duration: .5s;
            background-color: var(--gray);
            border-bottom: var(--orange) 3px;
        }
    }

    i {
        font-size: 28px;
    }
}

#header {
    width: 100%;
    height: calc(100vh - 42px);
    background: linear-gradient(135deg, var(--orange), var(--pink));
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    @media screen and (max-aspect-ratio: 6/10) {
        height: fit-content;

        span {
            bottom: 0px !important;
        }
    }

    span {
        position: relative;
        bottom: 32px;
    }

    h1, h2 {
        width: fit-content;
        margin: auto;
    }

    h1 {
        font-size: 8vw;

        @media screen and (max-width: 600px) {
            font-size: 20vw;
        }
    }

    h2 {
        font-size: 2vw;
        text-align: center;
        margin-bottom: 20px;

        @media screen and (max-width: 600px) {
            font-size: 4vw;
        }
    }
}

.generic-section {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    line-height: 1.5;

    &:nth-child(even) {
        flex-flow: row-reverse;
    }

    @media (max-width: 1024px) {

        > div:first-of-type {
            display: none;
        }

        > div:last-of-type > div {
            margin: auto;
            width: calc(100% - 25px);
        }
    }

    > div {
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;

        > div {
            width: 40vw;

            > h3 {
                font-size: xx-large;
            }

            p {
                font-size: large;
            }

            > p:last-of-type {
                margin-bottom: 50px;
            }
        }

        img {
            width: 45vw;
            max-height: 90vh;
            box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.3);
        }
    }
}

$banners: (
    error: red,
    warn: orange,
    info: $info-blue
);

@each $banner, $color in $banners {
    .#{$banner} {
        background-color: rgba($color, .3);
        padding: 10px;
        border-left: solid 5px $color;
        display: block;
    }
}

a.wiki {
    margin-top: 10px;
}