@import "../components/breakpoints";

.not-found {
  background-color: #7f7f7f;
  display: flex;
  flex-flow: row;
  height: 100%;
  overflow: hidden;

  div {
    width: 50%;
    justify-content: center;

    @media (max-width: $medium) {
      width: 100%;

      &:first-of-type {
        position: relative;
        overflow: hidden;

        > img {
          position: absolute;
          top: -100%;
          bottom: -100%;
          left: -100%;
          right: -100%;
          margin: auto;
        }
      }
    }

    img {
      overflow: hidden;
      height: 100%;
    }

    &:nth-last-of-type(1) {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;

      > * {
        padding-left: 5%;
        @media (max-width: $medium) {
          background-color: rgba(0, 0, 0, .4);

          &:first-child {
            padding-top: 5%;
          }

          &:last-child {
            padding-bottom: 5%;
          }
        }
      }

      @media (max-width: $medium) {
        position: absolute;
        top: 15%;
      }

      p {
        font-size: 190%;
        margin-top: 0;
      }

      h1 {
        font-size: 250%;
        margin-top: 25%;
        margin-bottom: 0;
      }
    }
  }
}