@import "../components/colors.scss";
@import "../components/Navbar.scss";

.header {
    width: 100%;
    height: calc(100vh - 45px);
    background: linear-gradient(135deg, $orange, $pink);
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    @media screen and (max-aspect-ratio: 6/10) {
        height: fit-content;
        padding: 20px 0;

        span {
            bottom: 0 !important;
        }
    }

    span {
        position: relative;
        bottom: 32px;
    }

    h1, h2 {
        width: fit-content;
        margin: auto;
    }

    h1 {
        font-size: 8vw;

        @media screen and (max-width: 600px) {
            font-size: 20vw;
        }
    }

    h2 {
        font-size: 2vw;
        text-align: center;
        margin-bottom: 20px;

        @media screen and (max-width: 600px) {
            font-size: 4vw;
        }
    }
}
