.page-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  overflow: auto;

  > div:first-of-type {
      height: fit-content;
      position: sticky;
      top: 0;
      align-self: flex-start;
      width: 500px;
  }
}