@mixin shadow($color: black, $height: 7px) {
  &:after {
    width: 100%;
    height: $height;
    background-image: linear-gradient(to bottom, $color, rgba($color, .75), transparent);
    content: "";
    display: block;
    position: absolute;
  }
}