@import "breakpoints";

.generic-section {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    flex-wrap: wrap-reverse;
    line-height: 1.5;

    &:nth-child(even) {
        flex-flow: row-reverse;
        flex-wrap: wrap-reverse;
    }

    &:nth-last-of-type(1) {
        padding-bottom: 10%;
    }

    @media (max-width: $medium) {

        > div:first-of-type {
            width: 100%;

            pre {
                box-shadow: none;
                width: 100%;
            }

            @media (max-width: $small) {
                & {
                    display: none;
                }
            }
        }

        > div:last-of-type > div {
            margin: auto;
            width: calc(100% - 25px);
        }
    }

    > div {
        height: fit-content;
        margin-top: auto;
        margin-bottom: auto;

        > div {
            width: 600px;

            > h3 {
                font-size: xx-large;
            }

            p {
                font-size: large;
            }

            > p:last-of-type {
                margin-bottom: 50px;
            }
        }

        > pre {
            margin-top: 65px;
            box-shadow: 20px 20px 60px black;
            transition-duration: 1s;
            position: relative;

            &:hover a {
                display: block;
            }

            a {
                font-size: 20px;
                display: none;
                position: absolute;
                padding: 10px;
                top: 0;
                right: 0;
            }

            > code {
                padding: 35px;
                border-radius: 5px;
            }
        }
    }
}