@import "colors";

@mixin highlight-on-hover($color, $drawLine: false) {
  &:hover {
    transition-duration: .5s;
    background-color: $color;

    &:after {
      transition-duration: .5s;
      width: 100%;
    }
  }

  @if $drawLine {
    &:after {
      content: "";
      height: 3px;
      width: 0;
      display: block;
      background-color: $orange;
    }
  }
}