@import "./colors.scss";

.navbar {
    height: 42px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    position: sticky;
    top: 0;
    background-color: $black;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 999;
}