@import "./colors.scss";

.navbar {
    height: 45px;
    width: 100%;
    display: flex;
    flex-flow: row-reverse;
    background-color: $black;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    flex-shrink: 0;
}