@import "./colors.scss";
@import "hover";
@import "breakpoints";

.navbar-link {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: $light-gray;
    font-family: 'Poppins', sans-serif;

    @media screen and (max-width: $small) {
        font-size: 0;
    }
    
    > i {
        margin-right: 6px;
        font-size: 28px;
    }

    @include highlight-on-hover($gray);
}