@import "colors";
@import "breakpoints";

$navbar-height: 45px;

.navbar {
    height: $navbar-height;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    background-color: $black;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    flex-shrink: 0;

    span {
        display: flex;
        margin-left: 0;
        margin-right: auto;

        @media (max-width: $small) {
            .toggle-container {
                &.on {
                    display: block;
                    position: absolute;
                    top: $navbar-height;
                    background-color: $black;
                    z-index: 999;

                    a {
                        font-size: unset !important;
                    }
                }
            }
        }

        > i {
            display: none;

            @media (max-width: $small) {
                display: block;
                padding: 5px 10px;
                font-size: 28px;
                align-self: center;
            }
        }
    }
}