@import "hover";

.repository-entry {
  list-style-type: none;
  width: 500px;
  padding: 0;

  div {
    padding: 10px 15px;
  }

  * {
    margin: 0;
  }

  h3, h4 {
    display: inline-block;
  }

  h3 {
    margin-right: 10px;
  }

  h4 {
    font-weight: unset;
  }

  h4 a {
    text-decoration: underline dotted;
  }

  .official {
    border-left: $orange 3px solid;
    background-color: rgba($orange, .1);
  }

  .pre-release {
    opacity: .5;
  }

  .direct-link {
    float: right;
    display: none;

    i {
      font-size: 140%;
    }
  }

  &:hover .direct-link {
    display: inline-block;
  }

  @include highlight-on-hover($black);
}