@import "colors";

.search {
  max-width: 500px;
  width: available;
  //box-sizing: border-box;
  background-color: $black;
  padding: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row;
  align-items: center;
  box-shadow: 6px 10px 8px -7px rgba(0,0,0,.2);

  input {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $black;
    color: whitesmoke;
    outline: none;
    border: none;
    font-size: 20px;
  }

  i {
    margin-right: 7px;
    font-size: 16px;
  }
}