@import "colors";
@import "breakpoints";

.search {
  width: available;
  box-sizing: border-box;
  background-color: $black;
  padding: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;

  @media (min-width: $medium) {
    width: 500px;
  }

  input {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $black;
    color: whitesmoke;
    outline: none;
    border: none;
    font-size: 20px;
  }

  i {
    margin-right: 7px;
    font-size: 16px;
  }
}