@import "../components/breakpoints";
@import "Navbar";

.page {
  display: flex;
  flex-flow: column;

  @media (min-width: $medium) {
    height: 100vh;
  }

  .page-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: calc(100vh - #{$navbar-height});
    margin: 0;
    padding: 0 10px 10px;

    @media (min-width: $medium) {
      justify-content: center;
      overflow-y: scroll;
    }

    > div {
      padding: 0 5px;
    }

    @media (max-width: $medium) {
      display: block;
    }

    @media (min-width: $medium) {
      > div:first-of-type {
        height: fit-content;
        position: sticky;
        top: 0;
        align-self: flex-start;
        max-width: 500px;
      }
    }
    > div:last-of-type {
      @media (min-width: $medium) {
        max-width: 50%;
      }
    }

    &:nth-last-child(1) {
      overflow-x: hidden;
      pre {
        width: 100%;
        overflow: auto;
      }
    }

    > div:first-of-type {
      @media (min-width: $medium) {
        height: calc(100vh - 45px);
        overflow: auto;
        direction: rtl;

        > div {
          direction: ltr;
        }
      }
    }
  }
}